spring:
  resources:
  datasource:
    url: jdbc:mysql://121.42.201.69:3306/yibantest_repair
    username: yiban
    password: yiban
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect